<!-- Register form errors -->

<% if(typeof errors != 'undefined') { %>
  <% errors.forEach((error) => { %>
    <div class="register-alert">
      <%= error.msg %>
      <span class="register-alert-close" onclick="this.parentElement.style.display='none'">&times</span>
    </div>

  <% }) %>
<% } %>


<% if(success_msg != '') { %>
  <div class="register-alert">
    <%= success_msg %>
    <span class="register-alert-close" onclick="this.parentElement.style.display='none'">&times</span>
  </div>
<% } %>

<% if(error_msg != '') { %>
  <div class="register-alert error-alert">
    <%= error_msg %>
    <span class="register-alert-close" onclick="this.parentElement.style.display='none'">&times</span>
  </div>
<% } %>

<% if(error != '') { %>
  <div class="register-alert error-alert">
    <%= error %>
    <span class="register-alert-close" onclick="this.parentElement.style.display='none'">&times</span>
  </div>
<% } %>
