<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>The Circle</title>
  <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
  <main class="container">
    <div class="video-wrap">
      <video src="/public/media/tunnel.mp4" autoplay loop muted></video>
    </div>
    <div class="overlay"></div>
